<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
	<param-name>driverClass</param-name>
	<param-value>com.mysql.jdbc.Driver</param-value>
</context-param>
<!-- 登录注册 -->
 <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>cn.et.lesson01.ServletLogin</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>cn.et.lesson01.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/servlet/DBUtil</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.servlet.lesson1.LoginServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>


<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.servlet.lesson1.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>cn.servlet.lesson2.ServletTest</servlet-class>
  </servlet> 
 <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  
  
     <!-- 配置响应信息的servlet  -->
  <servlet>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>cn.servlet.lesson2.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/ResponseServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- 生命周期 -->
  <servlet>
    <servlet-name>ContextServlet</servlet-name>
    <servlet-class>cn.servlet.lesson2.ContextServlet</servlet-class>
    
    <init-param>
    	<param-name>hello</param-name>
    	<param-value>no</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextServlet</servlet-name>
    <url-pattern>/ContextServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
    <servlet-name>ContextServlet1</servlet-name>
    <servlet-class>cn.servlet.lesson2.ContextServlet1</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>ContextServlet1</servlet-name>
    <url-pattern>/ContextServlet1</url-pattern>
  </servlet-mapping>
  
  
   
   <servlet>
    <servlet-name>MyLoginServlet</servlet-name>
    <servlet-class>cn.servlet.lesson2.MyLoginServlet</servlet-class>
    
  </servlet>
  <servlet>
    <servlet-name>CkServlet</servlet-name>
    <servlet-class>cn.et.lesson02.CkServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MyLoginServlet</servlet-name>
    <url-pattern>/MyLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CkServlet</servlet-name>
    <url-pattern>/CkServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- 配置过滤器 拦截的拦截顺序 由定义的先后顺序决定 -->
  <filter>
  	<filter-name>myFilter</filter-name>
  	<filter-class>cn.et.lesson03.MyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>myFilter</filter-name>
  	<!-- 表示拦截资源 -->
  	<url-pattern>/lesson03/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>myFilter1</filter-name>
  	<filter-class>cn.et.lesson03.MyFilter01</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>myFilter1</filter-name>
  	<!-- 表示拦截资源 -->
  	<url-pattern>/lesson03/*</url-pattern>
  </filter-mapping>
  <!-- 注册监听器 -->
  <listener>
  	<listener-class>cn.et.lesson03.RequestCycleListener</listener-class>
  </listener>
  <listener>
  	<listener-class>cn.et.lesson03.MySessionListener</listener-class>
  </listener>
   <listener>
  	<listener-class>cn.et.lesson03.MyServletContext</listener-class>
  </listener>
   <listener>
  	<listener-class>cn.et.HttpSessionDataChange</listener-class>
  </listener>
  
  
</web-app>
